<div class="list-group" style="margin-left:-15px; margin-top:50px; width:300px;">
    <a href="/Dashboard/resort/" class="list-group-item @Model.resort">
        &nbsp;<span class="glyphicon glyphicon-dashboard"></span>&nbsp; Resort
    </a>
    <a href="/Dashboard/cruise/" class="list-group-item @Model.cruise">
        <img src="../../Images/Ship-24.png" alt="ship" /> Cruise
    </a>
    <a href="/Dashboard/sales/" class="list-group-item @Model.sales">
        &nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;Sales Representative
    </a>
    <a href="/Dashboard/direct/" class="list-group-item @Model.direct">
        &nbsp;<span class="glyphicon glyphicon-phone"></span>&nbsp;Direct channels
    </a>   
    <a href="/Dashboard/groups/" class="list-group-item @Model.groups">
        &nbsp;<span class="glyphicon glyphicon-phone"></span>&nbsp;Group Channels
    </a>    
</div>