<div class="list-group" style="margin-left:-15px; margin-top:50px; width:300px;">
    <a href="/promo/resorts" class="list-group-item @Model.nav.resort">
        &nbsp;<span class="glyphicon glyphicon-dashboard"></span>&nbsp; Resort
    </a>
    <a href="/promo/cruise" class="list-group-item @Model.nav.cruise">
        <img src="../../Images/Ship-24.png" alt="ship" /> Cruise
    </a>
    <a href="/promo/sales" class="list-group-item @Model.nav.sales">
        &nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;Sales Representative
    </a>
    <a href="/promo/direct" class="list-group-item @Model.nav.direct">
        &nbsp;<span class="glyphicon glyphicon-phone"></span>&nbsp;Direct channel
    </a>
   
    <a href="/promo/groups" class="list-group-item @Model.nav.groups">
        &nbsp;<span class="glyphicon glyphicon-phone"></span>&nbsp;Group Channel
    </a>
    
    <a href="/promo/unknown" class="list-group-item @Model.nav.unknown">
        &nbsp;<span class="glyphicon glyphicon-phone"></span>&nbsp;Unknown Promo Codes
    </a>    
</div>